@import "../../common";

.protocol {
  padding: rpx(30);
  .title {
    font-size: rpx(36);
    color: #343434;
    font-weight: bold;
    margin-bottom: .5em;
  }
  .sub-title {
    margin: 1em 0;
    font-weight: bold;
    @extend .sub-title;
  }
  .text {
    color: #555555;
    font-size: rpx(32);
    letter-spacing: 1px;
    line-height: rpx(58);
  }
}
