@import "../../common";

page {
  background-color: #FFFFFF;
}

.info-header {
  box-sizing: border-box;
  padding: rpx(40);
  background-color: #F5F5F5;;
  height: rpx(220);
  .title {
    font-size: rpx(36);
    font-weight: bold;
    color: #343434;
  }
  .date {
    margin-top: rpx(15);
    font-size: rpx(24);
    color: #737373;
  }
}

.info-content {
  padding: rpx(40);
  font-size: rpx(32);
  color: #555555;
  letter-spacing: rpx(1);
  line-height: rpx(58);
  image {
    width: 100%;
    height: rpx(240);
  }
}
